body {
  /* font-family: "Nunito"; */
}
#wrapper {
  display: flex;
}

/* Sidebar */

.avail-ids {
  padding: 1.5rem;
  color: #fff;
}

.avail-ids ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* .navbar{
	background-color: #4e73df;
	width: 14rem;
	display: flex;
	flex-direction: column;
	list-style: none;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.navbar .logo{
	padding: 1.5rem 1rem;
	display: flex;
	color: #fff;
	height: 4.5rem;
	font-size: 1rem;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo i{
	font-size: 2rem;
}
.navbar .logo .brand{
	display: inline;
	font-size: 1rem;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	margin: 0 0.5rem;
} */

input {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #f3f3f3;
  color: #242424;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
